In [2]:
import pandas as pd

df = pd.read_csv('用電統計資料.csv')
print(df.columns)
df.head()

Index(['年度', ' 電燈售電量(度) ', ' 電力售電量(度) ', ' 售電量合計(度) ', ' 電燈用戶數(戶) ',
       ' 電力用戶數(戶) ', ' 用戶數合計(戶) ', ' 電燈(非營業用)用戶數(戶) ', ' 電燈(營業用)用戶數(戶) ',
       '電燈平均電價(元)', '電力平均電價(元)', '平均電價合計(元)\t\t\t\t\t\t\t\t\t\t\t'],
      dtype='object')

,年度,電燈售電量(度),電力售電量(度),售電量合計(度),電燈用戶數(戶),電力用戶數(戶),用戶數合計(戶),電燈(非營業用)用戶數(戶),電燈(營業用)用戶數(戶),電燈平均電價(元),電力平均電價(元),平均電價合計(元)\t\t\t\t\t\t\t\t\t\t\t
0,1951,"250,405,594","704,910,723","955,316,317","485,410","15,051","500,461","415,542","69,868",0.3594,0.0871,0.1584
1,1952,"259,468,670","816,554,150","1,076,022,820","512,442","16,304","528,746","433,132","79,310",0.3687,0.0873,0.1551
2,1953,"300,848,597","923,978,277","1,224,826,874","530,157","17,649","547,806","446,729","83,428",0.4304,0.1128,0.1908
3,1954,"324,241,555","1,078,306,769","1,402,548,324","580,170","21,644","601,814","488,579","91,591",0.4382,0.1156,0.1902
4,1955,"340,488,568","1,156,177,647","1,496,666,215","625,839","24,722","650,561","528,011","97,828",0.5853,0.1556,0.2533

In [3]:
df.isnull().sum()

年度                                 0
 電燈售電量(度)                          0
 電力售電量(度)                          0
 售電量合計(度)                          0
 電燈用戶數(戶)                          0
 電力用戶數(戶)                          0
 用戶數合計(戶)                          0
 電燈(非營業用)用戶數(戶)                    0
 電燈(營業用)用戶數(戶)                     0
電燈平均電價(元)                          0
電力平均電價(元)                          0
平均電價合計(元)\t\t\t\t\t\t\t\t\t\t\t    0
dtype: int64

In [4]:
new_df = df.copy()

new_df.rename(columns = {
    '年度': 'year',
    ' 電燈售電量(度) ': 'electric lights(kWh)',
    ' 電力售電量(度) ': 'electricity sales(kWh)',
    ' 售電量合計(度) ': 'total amount(kWh)',
    ' 電燈用戶數(戶) ': 'electric lights(households)',
    ' 電力用戶數(戶) ': 'electricity sales(households)',
    ' 用戶數合計(戶) ': 'total households',
    ' 電燈(非營業用)用戶數(戶) ': 'electric lights households(non-commercial)',
    ' 電燈(營業用)用戶數(戶) ': 'electric lights households(commercial)',
    '電燈平均電價(元)': 'average price of electric lights',
    '電力平均電價(元)': 'average price of electricity sales',
    '平均電價合計(元)\t\t\t\t\t\t\t\t\t\t\t': 'average price of total amount'
}, inplace = True)

new_df.head()

,year,electric lights(kWh),electricity sales(kWh),total amount(kWh),electric lights(households),electricity sales(households),total households,electric lights households(non-commercial),electric lights households(commercial),average price of electric lights,average price of electricity sales,average price of total amount
0,1951,"250,405,594","704,910,723","955,316,317","485,410","15,051","500,461","415,542","69,868",0.3594,0.0871,0.1584
1,1952,"259,468,670","816,554,150","1,076,022,820","512,442","16,304","528,746","433,132","79,310",0.3687,0.0873,0.1551
2,1953,"300,848,597","923,978,277","1,224,826,874","530,157","17,649","547,806","446,729","83,428",0.4304,0.1128,0.1908
3,1954,"324,241,555","1,078,306,769","1,402,548,324","580,170","21,644","601,814","488,579","91,591",0.4382,0.1156,0.1902
4,1955,"340,488,568","1,156,177,647","1,496,666,215","625,839","24,722","650,561","528,011","97,828",0.5853,0.1556,0.2533

In [5]:
new_df.to_csv('power_consumption.csv', encoding='utf-8', index=False)